{% extends "base.html" %} {% block header %}
<img src="static/infernape-header.png" alt="Fanart of the Pokemon Infername" width=128/>
{% endblock %}

{% block content %}
<div class="content">
  <h1>rafiq's weblog</h1>
  <p>Hi! I'm Rafiq (@rrvsh on various platforms), and I'm a 25 year old software engineer. I've been tinkering and coding since I was 14, and plan to never stop. This website showcases some of my work, though you can find the rest on <a href="https://github.com/rrvsh">GitHub<a/>.
  <h2>my work</h2>
  <h3>prose</h3>
  <p>a collection of my writing sorted by month</p>
  {% for month in months %}
  <h4 style="text-align: left">{{ month.label }}</h3>
  <ul>
    {% for article in month.articles %}
    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}
