#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
  behaviors {
    hrm: behavior_home_row_mod {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp &kp>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <150>;
    };
  };
  combos {
		compatible = "zmk,combos";
    escape_left {
      timeout-ms = <50>;
      key-positions = <10 11 12 13>;
      bindings = <&kp ESC>;
    };
    escape_right {
      timeout-ms = <50>;
      key-positions = <16 17 18 19>;
      bindings = <&kp ESC>;
    };
    enter_left {
      timeout-ms = <50>;
      key-positions = <11 12>;
      bindings = <&kp ENTER>;
    };
    enter_right {
      timeout-ms = <50>;
      key-positions = <17 18>;
      bindings = <&kp ENTER>;
    };
  };
	keymap {
		compatible = "zmk,keymap";
		default_layer {
			label = "alphabet";
			bindings = <
			&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P 
			&hrm LCTRL A &hrm LGUI S &hrm LALT D &hrm LSHIFT F &kp G &kp H &hrm RSHIFT J &hrm RALT K &hrm RGUI L &hrm RCTRL SEMI
			&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH
			&bootloader &lt 2 SPACE &lt 1 BSPC &bootloader
			>;
		};
    num_layer {
			label = "numbers/symbols";
			bindings = <
			&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 
			&hrm LCTRL A &hrm LGUI S &hrm LALT LBKT &hrm LSHIFT RBKT &kp CAPSLOCK &kp BSLH &hrm RSHIFT J &hrm RALT K &hrm RGUI L &hrm RCTRL SEMI
			&kp LPAR &kp RPAR &kp EQUAL &kp PLUS &kp MINUS &kp PIPE &kp SQT &kp DQT &kp TILDE &kp GRAVE
			&none &kp TAB &none &none
			>;
		};
    nav_layer {
			label = "navigation";
			bindings = <
			&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp HOME &kp PG_DN &kp PG_UP &kp END &kp DEL
			&hrm LCTRL A &hrm LGUI S &hrm LALT D &hrm LSHIFT F &kp G &kp LEFT &hrm RSHIFT DOWN &hrm RALT UP &hrm RGUI RIGHT &hrm RCTRL SEMI
			&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 
			&none &none &none &none
			>;
		};
	};
};
